body{
    display:flex;
    flex-direction:column;
    
    min-height:100vh;
}

.header{
    font-family:'Roboto';
    background-color:#1F2937;
    display:flex;
    flex-direction:column;
    
    
}

a{
    text-decoration-line: none;
}

.header .header-content .main{
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;
}

.header .subtext,
a {
    font-size:18px;
    color:#E5E7EB;
}

.header .header-logo{
    font-size:24px;
    color:#F9FAF8;
}

li{
    list-style-type: none;
}

.topbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:32px;
}

.header-links ul{
    display:flex;
    flex-direction:row;
    gap:20px;
}

.header-content{
    display:flex;
    padding:50px;
    gap:40px;
}

.header-content .text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    box-sizing: border-box;
    gap:4px;
}

.image-placeholder{
    color:white;
    background-color:grey;
    height:200px;
    width:800px;
    text-align:center;
}

.container{
    margin:auto;
    width:1100px;
    margin-bottom:80px;
}

.header-links{
    margin-left:auto;
    
}

button{
    background-color:#3882F6;
    color:white;
    margin:4px;
    align-self:flex-start;
    height:30px;
    width:100px;
    border:#3882F6;
    border-radius: 10%;
}

.info{
    display:flex;
    flex-direction:column;
    margin:auto;
}

.container2{
    display:flex;
    flex-direction:row;
    gap:40px;
    width:1200px;
    justify-content: center;
    gap:40px;
    margin-bottom:80px;
}

.info-image{
    display:flex;
    flex-direction:column;
    margin-top:40px;
    margin-bottom: 40px;
    
}

.info-header{
    font-size:36px;
    color:#1F2937;
    font-weight:900;
    margin:auto;
    margin-top:40px;
}

.info .subtext{
    display: flex;
    flex-wrap: wrap;
    width:180px;
}

.quotes{
    background-color:#E5E7EB;
    font-size:36px;
    color:#1F2937;
    display:flex;
    justify-content: center;
}

.footer{
    background-color:#1F2937;
    flex-shrink:0;
    color:white;
    text-align:center;
    
}

img{
    border:solid blue;
    border-radius: 10%;
    height: 180px;
    width:180px;

}

.container3{
    margin:40px;
    display:flex;
    flex-direction:column;
    width:1200px;

}

.quotes .author{
    text-align:right;
    font-weight:300;
}

.SignUpbar{
    display: flex;
    justify-content: center;
    margin:40px;
}

.container4{
    display:flex;
    width:1200px;
    background-color: #3882f6;
    flex-direction:row;
    justify-content:center;
    border-color: #3882F6;
    border: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin:20px;
    gap:150px;
}
 
.signup{
    border: 2px solid #F9FAF8 ;
    
}

.container4 .main{
    font-size:24px;
    color:#F9FAF8;
}

.container4 .subtext{
    color:#E5E7EB;
}